body {
  background-color: black;
}
* {
  padding: 0;
  margin: 0;
}

/* Menu */

html,
body,
ul,
li,
p {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1em;
  font-family: arial;
}
a {
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  margin: 0%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.header ul li a:hover {
  color: gray;
}
.menu,
li,
a {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
}
h1 {
  text-align: center;
}

/* Conteúdo */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.4;
}

/* GRID */

img {
  min-height: 350px;
  max-height: 350px;
  width: 100%;
  opacity: 0.6;
  border-radius: 15px;
}
.grid > div:nth-child(4) {
  display: grid;
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  max-width: 1800px;
  width: 205%;
}
.grid > div:nth-child(7) {
  margin: 0 auto;
  display: grid;
  grid-column-start: 2;
  background-color: black;
  max-width: 1800px;
  width: 205%;
}
.grid > div:nth-child(5) {
  grid-column-start: 3;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1500px;
  padding-top: 100px;
  padding-right: 60px;
  padding-left: 60px;
  padding-bottom: 100px;
  margin: 0 auto;
  grid-gap: 20px;
}
.zoom {
  overflow: hidden;
}
.zoom img {
  max-width: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3;
  transition: all 0.3s;
}
.zoom:hover img {
  -moz-transition: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.zoom p {
  text-align: center;
  color: white;
  position: relative;
  margin-top: -200px;
  margin-bottom: 200px;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Rodapé */

.footer {
  background-color: #0e0d0d;
  padding: 80px;
  background-image: url('./depositphotos_189942432-stock-video-space-travelling-the-speed-of.jpg');
  opacity: 0.6;
}
.dev {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 65px;
  margin-bottom: -65px;
  font-size: 15px;
}
.descricao {
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 68px;
  margin-bottom: -68px;
  font-size: 12px;
}
