@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #0e0d0d;
}

/* Menu */

html,
body,
ul,
li,
p {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.header {
  display: flex;
  margin: 0%;
  padding: 15px;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  position: fixed;
}
.menu,
li,
a {
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  justify-content: flex-start;
}
h1 {
  text-align: center;
}
/* Conteúdo */
.container {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0.4;
}
video {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

h1 {
  color: #ffffff;
  padding: 20px;
}
a:hover {
  text-decoration: underline white;
}
.menu img {
  display: flex;
  height: 90px;
  width: 160px;
  margin-bottom: -40px;
  margin-top: -30px;
  padding-right: 15px;
  align-content: ;
}
/* GRID */

.zoom img {
  min-height: 350px;
  max-height: 350px;
  width: 100%;
  opacity: 0.6;
  border-radius: 15px;
}

@media only screen and (min-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1500px;
    padding-top: 110px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 50px;
    margin: 0 auto;
    grid-gap: 40px;
  }

  .grid > div:nth-child(4) {
    display: grid;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 2;

    max-width: 1800px;
    width: 205%;
  }
  .grid > div:nth-child(7) {
    margin: 0 auto;
    display: grid;
    grid-column-start: 2;

    max-width: 1800px;
    width: 205%;
  }
  .grid > div:nth-child(5) {
    grid-column-start: 3;
  }

  .zoom {
    overflow: hidden;
  }
  .zoom img {
    max-width: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3;
    transition: all 0.3s;
  }
  .zoom:hover img {
    -moz-transition: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .zoom p {
    text-align: center;
    color: white;
    position: relative;
    margin-top: -200px;
    margin-bottom: 200px;
    font-size: 28px;
  }

  /* Rodapé */
}
.footer {
  background-color: #0e0d0d;
  padding: 40px;
  background-image: url('./depositphotos_189942432-stock-video-space-travelling-the-speed-of.jpg');
  opacity: 0.5;
}
.dev {
  color: white;
  text-align: center;

  position: relative;
  margin-top: 32px;
  margin-bottom: -32px;
  font-size: 15px;
}
.descricao {
  color: #ffffff;
  text-align: center;

  position: relative;
  margin-top: 34px;
  margin-bottom: -34px;
  font-size: 12px;
}
.footer img {
  display: flex;
  width: 200px;
  height: 150px;
  justify-content: flex-start;
}
